@import "tailwindcss";
/* Hide default calendar icon in Chrome, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Hide default icon in Firefox */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.blue_txt_clr{
  color: #004d8e;
}
@media print {

  /* Hide everything */
  body * {
    visibility: hidden;
  }

  /* Show only visa result */
  #visa-result,
  #visa-result * {
    visibility: visible;
  }

  #visa-result {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Hide download button in print */
  button {
    display: none !important;
  }
}
.gry_clr{
  color: #505050;
  /* color: red; */
}